
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-image: url('./images/bg.jpeg');
    background-size: cover;
    color: #3F3F3F;
}

.page__title{
    margin-left: 25px;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 10px 0;
    border-bottom: 1px solid #b1b1b1;
}

.page{
    margin-left: 200px;
    padding: 1em;
    min-height: 100vh;
    height: 100%;
    background-color: #ffffffcb;
}

.container--flex{
    display: flex;
    flex-wrap: wrap;
}

.btn--gray{
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 25px;
    background-color: #313131;
    color: #bababa;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 200ms;
    cursor: pointer;
}

.btn--gray:hover{
    color: #1e1e1e;
    background-color: #ffffff;
}

/* Individual Notes/Tasks ------- */

.content--container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    max-width: 300px;
    min-width: 300px;
    min-height: 250px;
    max-height: 250px;
    background-color: #ffffff;
    word-break:break-all;
    filter: drop-shadow(3px 3px 3px #00000012);
}

.content__ul > li{
    margin: 0.5em 0;
}


.content__ul > li::before{
    content: '□';
    margin-right: 0.5em;
}

.content__title{
    width: 100%;
    padding-bottom: 0.5em;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
}

.content__body{
    margin-top: 1em;
    line-height: 1em;
    overflow-y: scroll;
}


.content__icons{
    position: absolute;
    margin-bottom: 1em;
    bottom: 0;
}
.content__icons button{
    border: none;
    background: none;
    border: none;
}
.content__icons i{
    margin-right: 1.15em;
    font-size: 0.75rem;
    color: #898989;
    cursor: pointer;
    transition: all 300ms;
}

.fa-trash:hover{
    color: #b85050;
}

.fa-pen-to-square:hover{
    color: #1e1e1e;
}


.container--container{
    display: flex;
    flex-wrap: wrap;
}


/* ------------------------------ */





/* Navbar component ------- */

.navbar--container{
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    background-color: #1e1e1e;
    -webkit-box-shadow: 10px 0px 15px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 0px 15px -7px rgba(0,0,0,0.35);
    box-shadow: 10px 0px 15px -7px rgba(0,0,0,0.35);
}

.nav-links{
    list-style: none;
}

.nav-links__li{
    display: flex;
    align-items: center;
    margin: 40px;
}

.nav-links__li > img{
    width: 20px;
    margin-right: 15px;
}

.nav-links__li > a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}


.nav-links__li > a:visited{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}



/* ------------------------ */





/* Home Component---------- */

.home--page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 200px;
    text-align: center;
}

.home__date{
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #0000003a;
}
.home__time{
    font-size: 2.25rem;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #0000003a
}
/* ------------------------ */




/* Tasks Component -------- */



.high-urgency{
    border-top: 5px solid #d83131;
}

.med-urgency{
    border-top: 5px solid #f4ee4d;
}

.low-urgency{
    border-top: 5px solid #75d741;
}

/* ------------------------ */

/* Forms ------------------ */

.container--form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    z-index: 80;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100vw - 200px);
    background-color: #2f171724;
    backdrop-filter: blur(5px);
}

.container--form > form{
    position: relative;
    display: flex;
    padding: 4em 3em 2em 3em;
    width: 80%;
    height: 400px;
    max-width: 500px;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffffff;
    
}

.form__text-input, .form__textarea, .form__select{
    margin-bottom: 1em;
    padding: 0.5em 1em;
    width: 100%;
    border: 1px solid #ccc;
}

.form__text-input::placeholder{
    text-transform: capitalize;
}

.form__textarea{
    height: 150px;
    resize: none;
}

.form__close-btn{
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.form__submit-btn{
    position: relative;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
}

.form__title{
    margin-bottom: 1em;
}


/* ------------------------ */

@media screen and (max-width: 600px) {
    .navbar--container{
        width: 100%;
        height: 100px;
    }
    .nav-links{
        margin: 0;
        display: flex;
    }
    .nav-links__li{
        margin: 1em;
    }

    .page{
        margin: 0;
        margin-top: 100px;
    }

    .home--page{
        margin: 0;
    }

    .container--flex{
        justify-content: center;
    }

    .container--form{
        margin: 0;
        width: 100%;
    }



}